* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica_bold.eot");
  src: url("/fonts/helvetica_bold.ttf") format("truetype"), url("/fonts/helvetica_bold.woff") format("woff"), url("/fonts/helvetica_bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica_regular.eot");
  src: url("/fonts/helvetica_regular.ttf") format("truetype"), url("/fonts/helvetica_regular.woff") format("woff"), url("/fonts/helvetica_regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Helvetica";
  src: url("/fonts/helvetica_light.eot");
  src: url("/fonts/helvetica_light.ttf") format("truetype"), url("/fonts/helvetica_light.woff") format("woff"), url("/fonts/helvetica_light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}
body {
  background: #dde3ec;
  font-family: "Helvetica";
  font-weight: 400;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 900px;
  position: absolute;
  background: #FFFFFF;
  margin: 20px 0 20px 0;
  border-radius: 10px;
}

.content .post {
  margin-bottom: 30px;
}
.content .post .post_title {
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 2px;
  margin: 20px 0 10px 20px;
}
.content .post .post_product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.content .post .post_product img {
  width: 840px;
  margin: 10px 0 0 0;
}
.content .post .post_product .product_text {
  font-weight: 300;
  font-size: 12px;
}
.content .post .post_product .product_price {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 2px;
}
.content .block_leave_comment {
  border-top: 1px solid rgba(221, 227, 236, 0.5);
  border-bottom: 1px solid rgba(221, 227, 236, 0.5);
  margin: 0 20px 20px 20px;
  overflow: hidden;
}
.content .block_leave_comment .block_leave_comment_name {
  margin: 30px 0 10px 50px;
}
.content .block_leave_comment .block_leave_comment_name input {
  border: 1px solid #dde3ec;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
}
.content .block_leave_comment .block_leave_comment_name .text_error_short {
  font-size: 12px;
  color: rgba(220, 20, 60, 0.7);
}
.content .block_leave_comment .block_leave_comment_text {
  margin: 10px 0 10px 50px;
}
.content .block_leave_comment .block_leave_comment_text textarea {
  font-weight: 300;
  color: rgba(0, 0, 0, 0.5);
  width: 800px;
  height: 50px;
  border: 1px solid #dde3ec;
  border-radius: 10px;
  padding: 10px 0 0 10px;
  resize: none;
}
.content .block_leave_comment .block_leave_comment_text .text_error_short {
  font-size: 12px;
  color: rgba(220, 20, 60, 0.7);
}
.content .block_leave_comment .block_leave_comment_date {
  margin: 10px 0 10px 50px;
}
.content .block_leave_comment .block_leave_comment_date input {
  border: 1px solid #dde3ec;
  border-radius: 10px;
  padding: 5px 0 5px 10px;
  color: rgba(0, 0, 0, 0.5);
}
.content .block_leave_comment .block_leave_comment_date .text_error_short {
  font-size: 12px;
  color: rgba(220, 20, 60, 0.7);
}
.content .block_leave_comment .block_leave_comment_send {
  float: right;
  background: #dde3ec;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  margin: 0 10px 30px 0;
}
.content .comments .comments_title {
  font-weight: 700;
  font-size: 14px;
  margin: 50px 20px 20px 20px;
  padding: 0 0 5px 10px;
  border-bottom: 1px solid rgba(221, 227, 236, 0.5);
}
.content .comments .comments_list {
  width: 840px;
  margin: 30px 0 30px 30px;
}
.content .comments .comments_list .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 0 40px 0;
}
.content .comments .comments_list .comment .comment_name {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  font-weight: 700;
  font-size: 18px;
  margin: 0 0 10px 0;
  color: rgba(0, 0, 0, 0.8);
}
.content .comments .comments_list .comment .comment_text {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
  margin: 0 0 10px 0;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}
.content .comments .comments_list .comment .comment_date {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}
.content .comments .comments_list .comment .comment_button {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 0 0 320px;
}
.content .comments .comments_list .comment .comment_button .comment_like {
  margin: 0 40px 0 0;
  padding: 0 0 0 15px;
  height: 14px;
  width: 14px;
  background: url("./like.svg") no-repeat;
  background-size: 14px;
  opacity: 0.6;
}
.content .comments .comments_list .comment .comment_button .comment_like_true {
  margin: 0 40px 0 0;
  padding: 0 0 0 15px;
  height: 14px;
  width: 14px;
  background: url("./like_true.svg") no-repeat;
  background-size: 14px;
  opacity: 0.6;
}
.content .comments .comments_list .comment .comment_button .comment_delete {
  height: 14px;
  width: 14px;
  background: url("./trash.svg") no-repeat;
  background-size: 14px;
  opacity: 0.6;
}
